extends base
block head
  title Users | BGT

block body
  .row
    .text-center
      h1
        a(href='/dashboard/org/' + org.login) #{org.name || org.login}
        | /
        a(href='/dashboard/org/'+org.login+'/bgteam/'+bgteam.name) #{bgteam.name}

  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          h3.panel-title Users
          if org_members && org_members.length > 0
            .panel-body
              each org_member in org_members
                if org_member.in_team == true
                  a(href='/toggle_user/'+org.login+'/'+bgteam.name+'/'+org_member.login).btn.btn-danger.btn-block.clearfix
                    span.pull-left #{org_member.login}
                    img(src=org_member.avatar_url, width='22px').pull-right
                else
                  a(href='/toggle_user/'+org.login+'/'+bgteam.name+'/'+org_member.login).btn.btn-default.btn-block.clearfix
                    span.pull-left #{org_member.login}
                    img(src=org_member.avatar_url, width='22px').pull-right
        .panel-heading
          .text-center
            a(href='/dashboard/org/'+org.login+'/bgteam/'+bgteam.name+'/users?page='+(page-1)).btn.btn-default
              span.glyphicon.glyphicon-chevron-left
            a(href='/dashboard/org/'+org.login+'/bgteam/'+bgteam.name+'/users?page='+(page+1)).btn.btn-default
              span.glyphicon.glyphicon-chevron-right


