extends base

block head
   title #{org.name} | BGT

block body
   .row
      .text-center
         h1 #{org.name || org.login}

   if org_in_bgt == true
      .row
         .col-md-6.col-md-offset-3
            .panel.panel-default
               .panel-heading.clearfix BGTeams
                  form(action='/dashboard/'+org.login+'/add_bgt', method='get').form-inline.pull-right
                     .form-group
                        input(type='text', placeholder='BGTeam Name', name='bgteam_name').form-control
                     button(type='submit').btn.btn-default Add

               if bgteams && Object.keys(bgteams).length > 0
                  .panel-body
                     each bgteam in bgteams
                        a(href='/dashboard/org/'+org.login+'/bgteam/'+bgteam.name).btn.btn-default.btn-block.clearfix
                           span.pull-left #{bgteam.name} &nbsp;
                           span.badge.pull-right
                              span.glyphicon.glyphicon-user
                              |  #{bgteam.users.length}
                           span.badge.pull-right
                              span.glyphicon.glyphicon-eye-open
                              |  #{bgteam.read_repos.length}
                           span.badge.pull-right
                              span.glyphicon.glyphicon-pencil
                              |  #{bgteam.write_repos.length}
                           span.badge.pull-right
                              span.glyphicon.glyphicon-wrench
                              |  #{bgteam.admin_repos.length}
      .row
         .col-md-6.col-md-offset-3
            a(href='/apply_changes/'+org.login).btn.btn-success.btn-block Apply Changes
            a(href='/remove_org/'+org.login).btn.btn-danger.btn-block Remove #{org.login}
   else
      .row
         .col-md-6.col-md-offset-3
            a(href='/insert_org/'+org.login).btn.btn-success.btn-block Add #{org.login}
